// 
// Color
// =============================================

body = #fff
bodyColor = #222
header = #222533
side = #145c98
sideTab = #555

// panel 
panelBg = #fff
panelBorder = #e9e9e9
panelHeadColor = #767676
panelHeadBg = #f6f6f6
panelHeadBorder = #e9e9e9

//
colorSuccess = #2ecc71
colorWarning = #ffb61c
colorDanger = #e94b3b
colorInfo = #3498db
colorPrimary = #1abc9c
colorPink = #fd6ca3
colorBlack = #666
colorGrey = #a1abbc

.color-success
    color: colorSuccess

.color-warning
    color: colorWarning

.color-danger
    color: colorDanger

.color-info
    color: colorInfo

.bg-warning
    background-color: colorWarning
.bg-info
    background-color: colorInfo

.badge-success
    background-color: colorSuccess
.badge-warning
    background-color: colorWarning
