// 
// Input
// =============================================

.form-control
    border: 1px solid #dce4ec
    color: #34495e
    line-height: 1.467
    padding: 4px 12px
    height: 40px
    border-radius(borderRadius)
    box-shadow(none)
    &:focus
        border-color: #fc68a1
        outline: none
        box-shadow(none)
